 body,html {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
h2{
  text-align: center;
  font-family: 'Playfair Display', serif;
  padding-bottom: 20px;
}
h4{
  letter-spacing: 9px;

}

h5{
  text-align: center;
  padding: 10px;
}

#navigation{
  position: sticky;
  top:0;
  z-index: 2;
  font-family: 'Playfair Display', serif;
}
#myVideo {
  display: block;
  overflow-x: auto;
  bottom: 20;
  height: auto;
  width: 100vw;
  object-fit: cover;
  z-index: -1;
}
#about-container{
  /* position: relative; */
  /* bottom: 10px; */
  padding-top: 40px;
  padding-bottom: 40px;
  background: #5C527F;
  font-family: 'Playfair Display', serif;
  font-weight: 900;
  color: white;
  text-align: center;
}
.d-block{
  float: left;
}
#achievements-container{
  /* position: relative; */
  /* bottom: 10px; */
  background-color: #261C2C;
  font-family: 'Playfair Display', serif;
  padding-top: 40px;
  color:white;
}
.achievement-description{
  text-align: center;
  padding-top: 20%;
  margin-right: 50px;
  padding-left: 10px;
  font-family: 'Playfair Display', serif;
  z-index: -1;
}
#competitions{
  padding: 40px;
  padding-bottom: 40px;
  color:white;
  /* position: relative; */
  margin-top: 0;
  /* bottom:10px; */
  font-family: 'Playfair Display', serif;
  background-color: #3E2C41;
}
.competition-table{
  width: 50%;
  word-spacing: 20;
  text-align: center;
  padding: 10px;
  margin: auto;
  padding-bottom: 20px;
}
.comp{
  padding-bottom: 20px;
}
tr, td {
  padding: 10px;
}
tr:nth-child(even) {
  background-color: #261C2C;
}

#members{
  /* position: relative; */
  height: auto;
  /* bottom:10px; */
  background-color: #0A1931;
  padding-top: 30px;
  padding-bottom: 30px;
  color:white;
  font-family: 'Playfair Display', serif;
}
.row{
  margin: auto;
  padding: 10px;
}
.person-intro{
  text-align: center;
  font-family: 'Playfair Display', serif;
  padding-bottom: 30px;
}
.profile-img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
#contactus{
  line-height: 1.5rem;
  font-family: 'Playfair Display', serif;
  color: white;
  text-align: center;
  background-color: #0A1931;
  margin: 0
}
.links{
  color: white;
  background-color: transparent;
  text-decoration: none;
}
.links:hover{
  color: #5C527F;
}
